.countContainer {
    width: 100%;
    background: #0080ff;
    display: flex;
    justify-content: space-between;
    position: relative;
    font-family: consolas;
}

.verticalLine {
    position: absolute;
    height: 100%;
    width: 1px;
    background: #ffffff;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.countContainer div {
    font-size: 3rem;
    padding: 0 40px;

}


.countContainer div p span {
    font-weight: bold;

}