.menuContainer {
          width: 100%;
          display: flex;
          justify-content: center;
          gap: 10px;
          background: #0080ff;
          padding: 1.5rem 0;
}

.menuContainer button {
          cursor: pointer;
          height: 3rem;
          width: 3rem;
          display: grid;
          place-items: center;
}